{% extends 'base.html' %}
{% block content %}
                <div class="forms__container">
                     
                    {% if session_token is not none and created_by_user %}
                        <h1> Access denied! </h1>
                    {% elif deleted %}
                        <h1> Successfully Deleted</h1>
                    {% else %}
                        {% for i in deleted_item %}
                            <h1> Do you want to delete item <span class='item_category'>{{i.title}}</span> ?</h1>
                            <br/>
                            <form method="POST" action="/delete_item/{{i.id}}">
                                <button type="Submit" class="button">Delete</button>
                            </form>
                        {% endfor %}
                    {% endif %}
                </div>
        
{% endblock %}